.VPButton.alt {
    background-color: #033b71 !important;
    border-color: #0557a5 !important;
    color: var(--vp-button-brand-text) !important;
}

.VPButton.alt:hover {
    background-color: #033b71 !important;
    border-color: #022d56 !important;
}

.clip {
    background: -webkit-linear-gradient(180deg, #10b981 30%, #033b71) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

#VPContent > div > div.VPHero.VPHomeHero > div > div {
    /* Main title styling */

    h1 > span {
        font-size: 3.5rem !important;
        line-height: 1.2;
    }

    /* Subtitle text styling */

    p.text {
        color: var(--vp-c-text-2) !important;
        font-size: 1rem !important;
        max-width: 80ch;
        margin-bottom: 2rem;
        hyphens: auto;
    }

}